@inherits LayoutComponentBase

<PageTitle>CPSC481</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer class="navbar fixed-bottom">
        <NavMenu />
    </footer>
</div>
