.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
}

.nav-item {
    font-size: 0.9rem;
    padding: 0.7rem;
    align-content: center;
}

    .nav-item ::deep a {
        color: red;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    fill: green;
}

.nav-item ::deep a:hover {
    fill: green;
}

.nav-item ::deep {
    fill: grey;
}

.nav_name {
    font-weight: 900;
}

.nav-link {
    flex-direction: column;
    align-items: center;
}