.previous {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.btn-primary {
    background-color: #4CAF50;
    position: fixed;
    right: 20px;
    margin: 6px 4px;
    /*    bottom: 20px;*/
}