@page "/addtrip"
<PageTitle>AddTrip</PageTitle>

<a href="#" class="btn previous">
    &#8249; Add Trip
</a>

<h5>Create</h5>

<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name">
    </div>

    @*<button type="submit" class="btn btn-primary">Save</button>*@
    <a href="#" type="submit" class="btn btn-primary">Create</a>
</form>



@*<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" placeholder="DD-MM-YYYY">
    </div>
    <div class="form-group">
        <label for="time">Time</label>
        <input type="datetime" class="form-control" id="time" placeholder="Start time">
        <label for="time">to</label>
        <input type="datetime" class="form-control" id="time" placeholder="End time">
    </div>

    <div class="form-group">
        <label for="location">Location</label>
        <input class="form-control" id="location">
    </div>

    <div class="form-group">
        <label for="detail">Details</label>
        <textarea class="form-control" id="detail" rows="3"></textarea>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>

</form>*@