.previous[b-z72x14d4zp] {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.groove[b-z72x14d4zp] {
    border-style: groove;
}

.border[b-z72x14d4zp] {
    border-style: groove;
}

/*.form-group {
    border-style: groove;
}*/

.form-box[b-z72x14d4zp] {
    border-style: solid;
    padding: 0.5rem;
}
