body[b-ukgivds29a] {
    margin: 0;
}

#searchButton[b-ukgivds29a] {
    margin: 0;
}

#title[b-ukgivds29a] {
    display: flex;
    gap: 0.7rem;
}

.amenityList[b-ukgivds29a] {
    display: flex;
    border-bottom: solid 0.1rem black;
    width: 100%;
    margin-top: 10px;
}

.amenityListImg[b-ukgivds29a] {
    height: 60px;
    width: 100px;
    padding: 2px;
}

.description > p[b-ukgivds29a] {
    font-size: x-small;
    margin-bottom: 0;
    margin-top: 5px;
}

.description > h6[b-ukgivds29a] {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: smaller;
}

.description[b-ukgivds29a] {
    width: 220px;
}

img[b-ukgivds29a] {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

