.top-left[b-auyx8ihtbf] {
    position: absolute;
    top: 8px;
    left: 16px;
}

.images-events[b-auyx8ihtbf] {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.tag-btn[b-auyx8ihtbf] {
    background-color: white;
    color: green;
    border-color: green;
    border-radius: 10%;
    margin: 3px;
    margin-top: 10px;
}

.search-event-button[b-auyx8ihtbf] {
    background-color: white;
    color: green;
    border-color: green;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.btn-container[b-auyx8ihtbf] {
    display: flex;
    position: center;
    margin-right: 20px;
    margin-left: 140px;
}

body[b-auyx8ihtbf] {
}

#searchButton[b-auyx8ihtbf] {
    margin: 0;
}

#popular[b-auyx8ihtbf] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

.card[b-auyx8ihtbf] {
    min-width: 220px;
    border-radius: 10%;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

.card-img-top[b-auyx8ihtbf] {
    border-radius: 5%;
}

.card2[b-auyx8ihtbf] {
    min-width: 200px;
}

.card-img-top2[b-auyx8ihtbf] {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.card-text2[b-auyx8ihtbf] {
    align-content: center;
}

#popular[b-auyx8ihtbf]::-webkit-scrollbar {
    display: none;
}

#categories[b-auyx8ihtbf] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

    #categories[b-auyx8ihtbf]::-webkit-scrollbar {
        display: none;
    }

h4[b-auyx8ihtbf] {
    margin-top: 50px;
}

p[b-auyx8ihtbf] {
    margin-bottom: 0rem;
}

#categories > .card > img[b-auyx8ihtbf] {
    border-radius: 30%;
}
