#searchButton[b-dgd59kxs8t] {
    margin: 0;
}

#popular[b-dgd59kxs8t] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

.card[b-dgd59kxs8t] {
    min-width: 200px;
    
}

#popular[b-dgd59kxs8t]::-webkit-scrollbar {
    display: none;
}

#categories[b-dgd59kxs8t] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

#categories[b-dgd59kxs8t]::-webkit-scrollbar {
    display: none;
}

h5[b-dgd59kxs8t] {
    margin-top: 50px;
}

#categories > .card > img[b-dgd59kxs8t]{
    border-radius: 30%;
}