#searchButton[b-dgd59kxs8t] {
    margin: 0;
}

#popular[b-dgd59kxs8t] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

<<<<<<< HEAD:CPSC481/obj/Debug/net6.0/scopedcss/Pages/Index.razor.rz.scp.css
.card[b-4bqqtykl6g] {
    min-width: 220px;
    border-radius: 10%;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

.card-img-top[b-4bqqtykl6g] {
   border-radius: 5%;
}

.card2[b-4bqqtykl6g] {
=======
.card[b-dgd59kxs8t] {
>>>>>>> c9d1534042d4c4a2a2e3f6f29b15c3616e650ae7:CPSC481/obj/Debug/net6.0/scopedcss/Pages/ExplorePage.razor.rz.scp.css
    min-width: 200px;
}

.card-img-top2[b-4bqqtykl6g] {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.card-text2[b-4bqqtykl6g] {
    align-content: center;
}

#popular[b-dgd59kxs8t]::-webkit-scrollbar {
    display: none;
}

#categories[b-dgd59kxs8t] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

#categories[b-dgd59kxs8t]::-webkit-scrollbar {
    display: none;
}

<<<<<<< HEAD:CPSC481/obj/Debug/net6.0/scopedcss/Pages/Index.razor.rz.scp.css
h4[b-4bqqtykl6g] {
    margin-top: 50px;
}

p[b-4bqqtykl6g] {
    margin-bottom: 0rem;
}

#categories > .card > img[b-4bqqtykl6g]{
=======
h5[b-dgd59kxs8t] {
    margin-top: 50px;
}

#categories > .card > img[b-dgd59kxs8t]{
>>>>>>> c9d1534042d4c4a2a2e3f6f29b15c3616e650ae7:CPSC481/obj/Debug/net6.0/scopedcss/Pages/ExplorePage.razor.rz.scp.css
    border-radius: 30%;
}