.btnTrip[b-bbl5kbr5ma] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

.btn-success[b-bbl5kbr5ma] {
    /*    border-radius: 50%;*/
    background: transparent;
    transition: all 0.3s ease 0s;
    padding: 15px 20px;
    background-color: white;
    font-weight: bold;
    color: #4CAF50;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.fixed-bottom[b-bbl5kbr5ma] {
    bottom: 0px;
    width: 100%
}

#add-new-plan[b-bbl5kbr5ma] {
    position: fixed;
    bottom: 8rem;
    right: 2rem;
    border-radius: 5rem;
    padding: 0.5rem;
}
