.plan-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.card-text {
    margin: 0;
}

.btn-notify {
    margin: 1rem;
    border-radius: 5rem;
    padding: 0;
}
