/* _content/CPSC481/Components/DayPlans.razor.rz.scp.css */
.day-container[b-fhduwdozlg] {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.day-container:last-child[b-fhduwdozlg] {
    margin-bottom: 2rem;
}
/* _content/CPSC481/Components/PlanCard.razor.rz.scp.css */
.plan-card[b-ozac5kjzqk] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.card-text[b-ozac5kjzqk] {
    margin: 0;
}

.btn-notify[b-ozac5kjzqk] {
    margin: 1rem;
    border-radius: 5rem;
    padding: 0;
}
/* _content/CPSC481/Components/TripCard.razor.rz.scp.css */
.trip-card[b-1w2br271js] {
    text-align: left;
    padding: 0;
}

.trip-card:last-child[b-1w2br271js] {
    margin-bottom: 2.25rem;
}

.card-text[b-1w2br271js] {
    margin: 0;
}
/* _content/CPSC481/Pages/AddPlan.razor.rz.scp.css */
.page-container[b-odv8kjcm70] {
    width: 100%;
}

.page-header[b-odv8kjcm70] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}

.page-title[b-odv8kjcm70] {
    margin: 0 0 0 0.5rem;
}

.plan-form[b-odv8kjcm70] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 1em;
    height: auto;
}

.btn-save[b-odv8kjcm70] {
    background-color: #4CAF50;
    margin: 1rem 0;
    color: white;
}

.btn-round[b-odv8kjcm70] {
    border-radius: 5rem;
    padding: 0.5rem;
}
/* _content/CPSC481/Pages/AddTrip.razor.rz.scp.css */
.previous[b-z72x14d4zp] {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.groove[b-z72x14d4zp] {
    border-style: groove;
}

.border[b-z72x14d4zp] {
    border-style: groove;
}

/*.form-group {
    border-style: groove;
}*/

.form-box[b-z72x14d4zp] {
    border-style: solid;
    padding: 0.5rem;
}
/* _content/CPSC481/Pages/AmenitySearchPage.razor.rz.scp.css */
body[b-wsutnc8puh] {
    margin: 0;
}

#searchButton[b-wsutnc8puh] {
    margin: 0;
}

#title[b-wsutnc8puh] {
    display: flex;
    gap: 0.7rem;
}

.amenityList[b-wsutnc8puh] {
    display: flex;
    border-bottom: solid 0.1rem black;
    width: 100%;
    margin-top: 10px;
}

.amenityListImg[b-wsutnc8puh] {
    height: 60px;
    width: 100px;
    padding: 2px;
}

.description > p[b-wsutnc8puh] {
    font-size: x-small;
    margin-bottom: 0;
    margin-top: 5px;
}

.description > h6[b-wsutnc8puh] {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: smaller;
}

.description[b-wsutnc8puh] {
    width: 220px;
}

img[b-wsutnc8puh] {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

/* _content/CPSC481/Pages/EventPage.razor.rz.scp.css */
.top-left[b-auyx8ihtbf] {
    position: absolute;
    top: 8px;
    left: 16px;
}

.images-events[b-auyx8ihtbf] {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.tag-btn[b-auyx8ihtbf] {
    background-color: white;
    color: green;
    border-color: green;
    border-radius: 10%;
    margin: 3px;
    margin-top: 10px;
}

.search-event-button[b-auyx8ihtbf] {
    background-color: white;
    color: green;
    border-color: green;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.btn-container[b-auyx8ihtbf] {
    display: flex;
    position: center;
    margin-right: 20px;
    margin-left: 140px;
}

body[b-auyx8ihtbf] {
}

#searchButton[b-auyx8ihtbf] {
    margin: 0;
}

#popular[b-auyx8ihtbf] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

.card[b-auyx8ihtbf] {
    min-width: 220px;
    border-radius: 10%;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

.card-img-top[b-auyx8ihtbf] {
    border-radius: 5%;
}

.card2[b-auyx8ihtbf] {
    min-width: 200px;
}

.card-img-top2[b-auyx8ihtbf] {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.card-text2[b-auyx8ihtbf] {
    align-content: center;
}

#popular[b-auyx8ihtbf]::-webkit-scrollbar {
    display: none;
}

#categories[b-auyx8ihtbf] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

    #categories[b-auyx8ihtbf]::-webkit-scrollbar {
        display: none;
    }

h4[b-auyx8ihtbf] {
    margin-top: 50px;
}

p[b-auyx8ihtbf] {
    margin-bottom: 0rem;
}

#categories > .card > img[b-auyx8ihtbf] {
    border-radius: 30%;
}
/* _content/CPSC481/Pages/Events.razor.rz.scp.css */
body[b-qpqwqbbvb1] {
}

#searchButton[b-qpqwqbbvb1] {
    margin: 0;
}

#popular[b-qpqwqbbvb1] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

.card[b-qpqwqbbvb1] {
    min-width: 220px;
    border-radius: 10%;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

.card-img-top[b-qpqwqbbvb1] {
    border-radius: 5%;
}

.card2[b-qpqwqbbvb1] {
    min-width: 200px;
}

.card-img-top2[b-qpqwqbbvb1] {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.card-text2[b-qpqwqbbvb1] {
    align-content: center;
}

#popular[b-qpqwqbbvb1]::-webkit-scrollbar {
    display: none;
}

#categories[b-qpqwqbbvb1] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

    #categories[b-qpqwqbbvb1]::-webkit-scrollbar {
        display: none;
    }

h4[b-qpqwqbbvb1] {
    margin-top: 50px;
}

p[b-qpqwqbbvb1] {
    margin-bottom: 0rem;
}

#categories > .card > img[b-qpqwqbbvb1] {
    border-radius: 30%;
}
/* _content/CPSC481/Pages/EventsFilter.razor.rz.scp.css */
input[type=radio][b-l2yi30aqmu] {
    display: inline;
}

body[b-l2yi30aqmu] {
}
/* _content/CPSC481/Pages/EventsSearch.razor.rz.scp.css */
.event-list[b-eulzkcmefz] {
    padding: 20px 0;
}

.event[b-eulzkcmefz] {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}

.event img[b-eulzkcmefz] {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 5px;
}

.search-event-button[b-eulzkcmefz] {
    background-color: white;
    color: green;
    border-color: green;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.btn-container[b-eulzkcmefz] {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.tag-btn[b-eulzkcmefz] {
    background-color: white;
    color: green;
    border-color: green;
    border-radius: 10%;
    margin: 3px;
}

body[b-eulzkcmefz] {
}
/* _content/CPSC481/Pages/ExplorePage.razor.rz.scp.css */
#searchButton[b-dgd59kxs8t] {
    margin: 0;
}

#popular[b-dgd59kxs8t] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

<<<<<<< HEAD:CPSC481/obj/Debug/net6.0/scopedcss/Pages/Index.razor.rz.scp.css
.card[b-4bqqtykl6g] {
    min-width: 220px;
    border-radius: 10%;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

.card-img-top[b-4bqqtykl6g] {
   border-radius: 5%;
}

.card2[b-4bqqtykl6g] {
=======
.card[b-dgd59kxs8t] {
>>>>>>> c9d1534042d4c4a2a2e3f6f29b15c3616e650ae7:CPSC481/obj/Debug/net6.0/scopedcss/Pages/ExplorePage.razor.rz.scp.css
    min-width: 200px;
}

.card-img-top2[b-4bqqtykl6g] {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.card-text2[b-4bqqtykl6g] {
    align-content: center;
}

#popular[b-dgd59kxs8t]::-webkit-scrollbar {
    display: none;
}

#categories[b-dgd59kxs8t] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

#categories[b-dgd59kxs8t]::-webkit-scrollbar {
    display: none;
}

<<<<<<< HEAD:CPSC481/obj/Debug/net6.0/scopedcss/Pages/Index.razor.rz.scp.css
h4[b-4bqqtykl6g] {
    margin-top: 50px;
}

p[b-4bqqtykl6g] {
    margin-bottom: 0rem;
}

#categories > .card > img[b-4bqqtykl6g]{
=======
h5[b-dgd59kxs8t] {
    margin-top: 50px;
}

#categories > .card > img[b-dgd59kxs8t]{
>>>>>>> c9d1534042d4c4a2a2e3f6f29b15c3616e650ae7:CPSC481/obj/Debug/net6.0/scopedcss/Pages/ExplorePage.razor.rz.scp.css
    border-radius: 30%;
}
/* _content/CPSC481/Pages/TripMainPage.razor.rz.scp.css */
.page-container[b-bbl5kbr5ma] {
    width: 100%;
}

.page-header[b-bbl5kbr5ma] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}

.page-body[b-bbl5kbr5ma] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 1em;
    height: auto;
}

.page-title[b-bbl5kbr5ma] {
    margin: 0 0 0 0.5rem;
}

.btn-fixed[b-bbl5kbr5ma] {
    position: fixed;
    bottom: 8rem;
    right: 2rem;
}

.btn-round[b-bbl5kbr5ma] {
    border-radius: 5rem;
    padding: 0.5rem;
}
/* _content/CPSC481/Pages/TripPage.razor.rz.scp.css */
.page-container[b-6inhuixx6h] {
    width: 100%;
}

.page-header[b-6inhuixx6h] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}

.page-body[b-6inhuixx6h] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 1em;
    height: auto;
}

.btn-round[b-6inhuixx6h] {
    border-radius: 5rem;
    padding: 0.5rem;
}

.page-title[b-6inhuixx6h] {
    margin: 0 0 0 0.5rem;
}

.btn-fixed[b-6inhuixx6h] {
    position: fixed;
    bottom: 8rem;
    right: 2rem;
}
/* _content/CPSC481/Shared/MainLayout.razor.rz.scp.css */
*[b-7zfj4j95sg] {
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.page[b-7zfj4j95sg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-7zfj4j95sg] {
    flex: 1;
    overflow: scroll;
}

article[b-7zfj4j95sg] {
    height: 800px;
}

.sidebar[b-7zfj4j95sg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.navbar[b-7zfj4j95sg] {
    padding: 0;
    height: fit-content;
}

.top-row[b-7zfj4j95sg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-7zfj4j95sg]  a, .top-row .btn-link[b-7zfj4j95sg] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-7zfj4j95sg] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-7zfj4j95sg] {
        display: none;
    }

    .top-row.auth[b-7zfj4j95sg] {
        justify-content: space-between;
    }

    .top-row a[b-7zfj4j95sg], .top-row .btn-link[b-7zfj4j95sg] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-7zfj4j95sg] {
        flex-direction: row;
    }

    .sidebar[b-7zfj4j95sg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-7zfj4j95sg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-7zfj4j95sg], article[b-7zfj4j95sg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/CPSC481/Shared/NavMenu.razor.rz.scp.css */
.oi[b-sl09fl9cl6] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.navbar[b-sl09fl9cl6] {
    width: 100%;
}

.navbar-nav[b-sl09fl9cl6] {
    display: flex;
    flex-direction: row;
    /*gap: 2rem;*/
    width: 100%;
    justify-content: space-around;
}

.nav-item[b-sl09fl9cl6] {
    font-size: 0.9rem;
<<<<<<< HEAD
    padding: 0.7rem;
    align-content: center;
=======
    padding-top: 0.5rem;
>>>>>>> c9d1534042d4c4a2a2e3f6f29b15c3616e650ae7
}

    .nav-item[b-sl09fl9cl6]  a {
        color: red;
        border-radius: 4px;
        /*height: 3rem;*/
        display: flex;
        align-items: center;
        line-height: 2rem;
    }

.nav-item[b-sl09fl9cl6]  a.active {
    fill: green;
}

.nav-item[b-sl09fl9cl6]  a:hover {
    fill: green;
}

<<<<<<< HEAD
.nav-item[b-sl09fl9cl6]  {
    fill: grey;
}

.nav_name[b-sl09fl9cl6] {
    font-weight: 900;
}

.nav-link[b-sl09fl9cl6] {
    flex-direction: column;
    align-items: center;
}
=======
.nav-link[b-sl09fl9cl6] {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
>>>>>>> c9d1534042d4c4a2a2e3f6f29b15c3616e650ae7
