/* _content/CPSC481/Components/DayPlans.razor.rz.scp.css */
.day-container[b-fhduwdozlg] {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.day-container:last-child[b-fhduwdozlg] {
    margin-bottom: 2rem;
}
/* _content/CPSC481/Components/PlanCard.razor.rz.scp.css */
.plan-card[b-ozac5kjzqk] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.card-text[b-ozac5kjzqk] {
    margin: 0;
}

.btn-notify[b-ozac5kjzqk] {
    margin: 1rem;
    border-radius: 5rem;
    padding: 0;
}
/* _content/CPSC481/Components/TripCard.razor.rz.scp.css */
.trip-card[b-1w2br271js] {
    text-align: left;
    padding: 0;
}

.trip-card:last-child[b-1w2br271js] {
    margin-bottom: 2.25rem;
}

.card-text[b-1w2br271js] {
    margin: 0;
}
/* _content/CPSC481/Pages/AddPlan.razor.rz.scp.css */
.page-container[b-odv8kjcm70] {
    width: 100%;
}

.page-header[b-odv8kjcm70] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}

.page-title[b-odv8kjcm70] {
    margin: 0 0 0 0.5rem;
}

.plan-form[b-odv8kjcm70] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 1em;
    height: auto;
}

.btn-save[b-odv8kjcm70] {
    background-color: #4CAF50;
    margin: 1rem 0;
    color: white;
}

.btn-round[b-odv8kjcm70] {
    border-radius: 5rem;
    padding: 0.5rem;
}
/* _content/CPSC481/Pages/AddTrip.razor.rz.scp.css */
.previous[b-z72x14d4zp] {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.groove[b-z72x14d4zp] {
    border-style: groove;
}

.border[b-z72x14d4zp] {
    border-style: groove;
}

/*.form-group {
    border-style: groove;
}*/

.form-box[b-z72x14d4zp] {
    border-style: solid;
    padding: 0.5rem;
}
/* _content/CPSC481/Pages/AmenitySearchPage.razor.rz.scp.css */
body[b-wsutnc8puh] {
    margin: 0;
}

#searchButton[b-wsutnc8puh] {
    margin: 0;
}

#title[b-wsutnc8puh] {
    display: flex;
    gap: 0.7rem;
}

.amenityList[b-wsutnc8puh] {
    display: flex;
    border-bottom: solid 0.1rem black;
    width: 100%;
    margin-top: 10px;
}

.amenityListImg[b-wsutnc8puh] {
    height: 60px;
    width: 100px;
    padding: 2px;
}

.description > p[b-wsutnc8puh] {
    font-size: x-small;
    margin-bottom: 0;
    margin-top: 5px;
}

.description > h6[b-wsutnc8puh] {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: smaller;
}

.description[b-wsutnc8puh] {
    width: 220px;
}

img[b-wsutnc8puh] {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

/* _content/CPSC481/Pages/ExplorePage.razor.rz.scp.css */
#searchButton[b-dgd59kxs8t] {
    margin: 0;
}

#popular[b-dgd59kxs8t] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

.card[b-dgd59kxs8t] {
    min-width: 200px;
    
}

#popular[b-dgd59kxs8t]::-webkit-scrollbar {
    display: none;
}

#categories[b-dgd59kxs8t] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

#categories[b-dgd59kxs8t]::-webkit-scrollbar {
    display: none;
}

h5[b-dgd59kxs8t] {
    margin-top: 50px;
}

#categories > .card > img[b-dgd59kxs8t]{
    border-radius: 30%;
}
/* _content/CPSC481/Pages/TripMainPage.razor.rz.scp.css */
.page-container[b-bbl5kbr5ma] {
    width: 100%;
}

.page-header[b-bbl5kbr5ma] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}

.page-body[b-bbl5kbr5ma] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 1em;
    height: auto;
}

.page-title[b-bbl5kbr5ma] {
    margin: 0 0 0 0.5rem;
}

.btn-fixed[b-bbl5kbr5ma] {
    position: fixed;
    bottom: 8rem;
    right: 2rem;
}

.btn-round[b-bbl5kbr5ma] {
    border-radius: 5rem;
    padding: 0.5rem;
}
/* _content/CPSC481/Pages/TripPage.razor.rz.scp.css */
.page-container[b-6inhuixx6h] {
    width: 100%;
}

.page-header[b-6inhuixx6h] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}

.page-body[b-6inhuixx6h] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 1em;
    height: auto;
}

.btn-round[b-6inhuixx6h] {
    border-radius: 5rem;
    padding: 0.5rem;
}

.page-title[b-6inhuixx6h] {
    margin: 0 0 0 0.5rem;
}

.btn-fixed[b-6inhuixx6h] {
    position: fixed;
    bottom: 8rem;
    right: 2rem;
}
/* _content/CPSC481/Shared/MainLayout.razor.rz.scp.css */
*[b-7zfj4j95sg] {
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.page[b-7zfj4j95sg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-7zfj4j95sg] {
    flex: 1;
    overflow: scroll;
}

article[b-7zfj4j95sg] {
    height: 800px;
}

.sidebar[b-7zfj4j95sg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.navbar[b-7zfj4j95sg] {
    padding: 0;
    height: fit-content;
}

.top-row[b-7zfj4j95sg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-7zfj4j95sg]  a, .top-row .btn-link[b-7zfj4j95sg] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-7zfj4j95sg] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-7zfj4j95sg] {
        display: none;
    }

    .top-row.auth[b-7zfj4j95sg] {
        justify-content: space-between;
    }

    .top-row a[b-7zfj4j95sg], .top-row .btn-link[b-7zfj4j95sg] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-7zfj4j95sg] {
        flex-direction: row;
    }

    .sidebar[b-7zfj4j95sg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-7zfj4j95sg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-7zfj4j95sg], article[b-7zfj4j95sg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/CPSC481/Shared/NavMenu.razor.rz.scp.css */
.oi[b-sl09fl9cl6] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.navbar[b-sl09fl9cl6] {
    width: 100%;
}

.navbar-nav[b-sl09fl9cl6] {
    display: flex;
    flex-direction: row;
    /*gap: 2rem;*/
    width: 100%;
    justify-content: space-around;
}

.nav-item[b-sl09fl9cl6] {
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

    .nav-item[b-sl09fl9cl6]  a {
        color: #d7d7d7;
        border-radius: 4px;
        /*height: 3rem;*/
        display: flex;
        align-items: center;
        line-height: 2rem;
    }

.nav-item[b-sl09fl9cl6]  a.active {
    background-color: rgba(255,255,255,1);
    color: white;
}

.nav-item[b-sl09fl9cl6]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-link[b-sl09fl9cl6] {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
