@inherits LayoutComponentBase

<PageTitle>TravelCompamy_Trip</PageTitle>

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>*@

<!--<div class="main">-->
    @*<NavMenu></NavMenu>*@
    <!--<article class="content px-4">
        @Body
    </article>

</div>-->

<div class="main">
    <article class="content px-4">
        @Body
        </article>
    <!--<div class="navbar fixed-bottom">-->
        @*<NavMenu/>*@
        <!--<NavMenu></NavMenu>
    </div>-->

</div>


