.previous[b-qwj36je44t] {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.groove[b-qwj36je44t] {
    border-style: groove;
}

.border[b-qwj36je44t] {
    border-style: groove;
}

/*.form-group {
    border-style: groove;
}*/