@page "/amenitysearch"
<div id="title">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
    </svg>
    <h5>Amenities Search</h5>
</div>

<nav class="navbar navbar-light bg-light">
    <div class="input-group mb-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
    </div>
</div>
<div class="amenityList">
    <div class="amenityListImg">
        <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/calgary-tower-at-night-edita-de-lima.jpg" alt="Card image cap">
    </div>
    <div class="description">
        <h6>Name of place</h6>
        <p>Description of place</p>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
    </div>
</div>

@code {

}
