@page "/EventsFilter"


<h3>Filter</h3>
<PageTitle>EventsFilter</PageTitle>

<nav class="navbar navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<h5>Starting Time</h5>
<input type="radio" id="html" name="fav_language" value="HTML">
<label for="html">Today</label><br>
<input type="radio" id="html" name="fav_language" value="HTML">
<label for="html">Tomorrow</label><br>
<input type="radio" id="html" name="fav_language" value="HTML">
<label for="html">This Weekend</label><br>
<input type="radio" id="html" name="fav_language" value="HTML">
<label for="html">Next Week</label><br>
<input type="radio" id="html" name="fav_language" value="HTML">
<label for="html">Next Weekend</label><br>
<input type="radio" id="html" name="fav_language" value="HTML">
<label for="html">All Upcoming</label><br>

<br />
<h5>Type of Events</h5>
<input type="checkbox" id="html" name="fav_language" value="HTML">
<label for="html">Animal</label><br>
<input type="checkbox" id="html" name="fav_language" value="HTML">
<label for="html">Fair</label><br>
<input type="checkbox" id="html" name="fav_language" value="HTML">
<label for="html">Art</label><br>
<input type="checkbox" id="html" name="fav_language" value="HTML">
<label for="html">...</label><br>
<input type="checkbox" id="html" name="fav_language" value="HTML">
<label for="html">...</label><br>
<input type="checkbox" id="html" name="fav_language" value="HTML">
<label for="html">...</label><br>

<br />
<h5>Location</h5>
<input type="radio" id="html" name="fav_language" value="HTML">
<label for="html">Outdoor</label><br>
<input type="radio" id="html" name="fav_language" value="HTML">
<label for="html">Indoor</label><br>

<br />
<input type="submit" value="Cancel" style="">
<input type="submit" value="Apply" style="position: absolute;right: 0; margin-right: 20px;">
@code {

}
