@page "/trips"

<PageTitle>Trips</PageTitle>

<h1>Trips</h1>

<a href="#" class="btn btnTrip">
    <p align="left" class="pind">Canadian Rockies Trip</p>
    <p align="left" class="pind">Sep 21 - Oct 31</p>
    <p align="left" class="pind">40 days</p>
</a>

<a href="#" class="btn btnTrip">
    <p align="left" class="pind">Winter Trip</p>
    <p align="left" class="pind">SDec 20 - Dec 30</p>
    <p align="left" class="pind">10 days</p>
</a>

<a href="#" class="btn btnTrip">
    <p align="left" class="pind">Trip 01</p>
    <p align="left" class="pind">Jan 10 - Jan 22</p>
    <p align="left" class="pind">12 days</p>
</a>

<a href="#" class="btn btnTrip">
    <p align="left" class="pind">Trip 02</p>
    <p align="left" class="pind">Jan 15 - Jan 20</p>
    <p align="left" class="pind">5 days</p>
</a>

<a href="#" class="btn btnTrip">
    <p align="left" class="pind">Trip 03</p>
    <p align="left" class="pind">Jan 20 - Jan 30</p>
    <p align="left" class="pind">10 days</p>
</a>

@*<button class="btn btn-outline-success" type="submit">+</button>*@
@*<a href="#" class="btn btn-success">+</a>*@
<a href="AddTrip" id="add-new-plan" class="btn btn-round btn-dark" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
    </svg>
</a>
